<ul>
    <li>
        <a href="/admin_home">Home</a>
    </li>
    <li>
        <a href="/addbranch">Add Branch</a>
    </li>
    <li>
        <a href="/allBranch">All Branches</a>
    </li>
    <li>
        <a href="/addcourse">Add Course</a>
    </li>
    <li>
        <a href="/allcourse">All Courses</a>
    </li>
    <li>
        <a href="/addAccount_master">Add Accountant</a>
    </li>
    <li>
        <a href="/viewallaccount">All Accountants</a>
    </li>
    <li>
        <a href="/student_by_admin">All Student</a>
    </li>
  <li>
        <a href="/login">Logout</a>
    </li>
</ul>